.page-feed-container{
    max-width: 500px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
}

.loading-spinner{
    align-self:center;
    justify-self: center;
}


.post-button{
    margin-bottom: 25px
}

.user-post-container{
display: flex;
flex-direction: column;
width: 500px;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 5px;
margin: 25px 0px;
}

.user-post-details-and-edit-button-container{
    display:flex;

}

.user-post-details{
flex:3;
color:grey;
display: flex;
justify-content: flex-start;
padding: 15px 10px 10px 10px;
.user-post-date-name{
    h5{
        margin:0;
    }
  p{
      margin:0;
      font-size: .7em;
  }
}
}

.modify-post-button-container{
  
   margin: 10px;
  
   .modify-button{
    font-size: .8rem;
    height: 2.8rem;
    line-height: 2.8rem;
    padding: 0 1.5rem;
   }
}

.user-post-image{
 max-width: 50px;
 max-height: 50px;
 border-radius: 100px;
 margin-right: 10px;
}

.user-post-text{
    padding: 15px 10px 10px 10px;
    text-align: center;
}

.user-post-image-container{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.user-post-blog-image{
    max-width: 100%;
    max-height: 400px;
}

.comments-likes-display-conatiner{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px 0px 20px 10px;
    justify-content: space-between;
}

.comments-feed-container{
    flex: 3;
}

.comment-text-and-button-container{
    display: flex;
    align-items: center;
    button{
        border-radius: 100px;
    }
}

.user-comment-text{
    flex: 3;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.1);
    max-width: 300px;
    border-radius: 5px;
    justify-content: center;
  
    margin: 10px;
    padding:5px;
    p{
        margin:0;
    }
}

.likes-feed-view-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    .view-like{
      margin: 0;
      font-size: 0.8em;
    }
   
}



.comment-form{
    display: flex;
    margin: 0;
    .comment-input{
      width: 400px;
    }
}

.user-post-form{
    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    
    fieldset{
        display: flex;
            display: flex;
            .create-post-text-area{
                margin-right: 10px;
                width: 270px;
                min-height: 100px;
            }
    }
}

.edit-post-form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    fieldset{
            display: flex;
            flex-direction: column;
            .create-post-text-area{
            text-align: center;
             
            }
    }
}


.edit-post-image{
    max-width: 100%;
    max-height: 400px;
}