.fixed-footer-container{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
   flex-direction: column;
    padding:15px;
    margin:5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: white;
   max-height: 300px;
   overflow: scroll;
    .hide-chat-button{
        margin-bottom: -25px;
    }
}

.chat-master-container{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    padding:15px;
    margin:5px;
    button{
        margin-left: 10px;
    }
}

.chat-selection-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
   
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding:10px;
}


.chat-container{
    display: flex;
    flex-direction: column;
   justify-content: flex-start;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding:10px;
    width: 250px;
    max-height: 200px;
    overflow: scroll;
}

.chat-form{
   display: flex;
  margin-bottom: -20px;
}

