.form-container{
    max-width: 800px;
    margin: 100px auto;
}
.full-length-button{
    width: 100%;
}

.profile-preview-image-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .preview-image{
        max-width: 200px;
        max-height: 200px;
        border-radius:60%
    }
}

.form-error-message{
    color: $delete-button-color;
    text-align: center;
}

@media (max-width: 40.0rem){
    .form-container{
      margin:10px;
    }
  }